<div>

  <p>
    invoice-listz works!
  </p>
  <h1> Rechnungsübersicht </h1>
  <p>Datum. </p>

  <div>

    <table style="width:100%">
      <tr>
        <th>RechnungsNr</th>
        <th>Status (Entwurf, bezahlt, ...)</th>
        <th>Gesamtpreis</th>
        <th>Anzahl der Mahnungen</th>
        <th>Gesamtpreis</th>
        <th>Ändern</th>
      </tr>
      <tr>
        <td>R2018abc</td>
        <td>Entwurf</td>
        <td>2000€</td>
        <td>000</td>
        <td><button type="button">Rechnung bearbeiten</button></td>
      </tr>
      <tr>
        <td>R2018efg</td>
        <td>offen</td>
        <td>5000€</td>
        <td>003</td>
        <td><button type="button">Rechnung bearbeiten</button></td>
      </tr>
      <tr>
        <td>R2018xyz</td>
        <td>bezahlt</td>
        <td>1500€</td>
        <td>000</td>
        <td><button type="button">Rechnung bearbeiten</button></td>
      </tr>

    </table>
  </div>

  <button type="button">Neuer Rechnungsentwurf</button>
  <button>Speichern</button>
  <button>Zurück</button>


</div>
