/* table CSS styles */

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  background-color: darkblue;
  font-weight: bold;
  color: white;
}

td {
  text-align: center;
  color: black;
}

grid-container {
  display: grid;
  grid: 150px / auto auto auto;
}

/*main sections*/

header, main, footer {
  position: relative;
}

main {
  position: absolute;
  left: 10px;
  top: 570px;
  width: 290px;
  height: 1500px;
}

footer {
  position: absolute;
  left: 10px;
  top: 3000px;
  width: 290px;
  height: 250px;
}

div {
  color: black;
}

/* remainder CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

/*own classes*/
.important {
  font-weight: bold;
}

/*parts of footer*/

.address {
  position: absolute;
  left: 10px;
  top: 350px;
  width: 290px;
  height: 150px;
}

.contact {
  position: absolute;
  left: 310px;
  top: 350px;
  width: 290px;
  height: 150px;
}

.bankconnection {
  position: absolute;
  left: 610px;
  top: 350px;
  width: 290px;
  height: 150px;
}

.tax-number {
  position: absolute;
  left: 910px;
  top: 350px;
  width: 290px;
  height: 150px;
}

/*parts of header*/
.logo {
  color: darkblue;
  position: absolute;
  left: 1010px;
  top: 10px;
  width: 290px;
  height: 150px;
}

.adress-window {
  color: black;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 390px;
  height: 550px;
}

.contact-block {
  position: absolute;
  left: 1010px;
  top: 210px;
  width: 290px;
  height: 150px;
}

.city-date {
  position: absolute;
  left: 1010px;
  top: 580px;
  width: 290px;
  height: 50px;
}

section {
  position: absolute;
  top: 310px;
}
